# Python
*.pyc
__pycache__/

# Environment variables
.env

# Django stuff
db.sqlite3
/media/
static/

# Logs
*.log

# Virtual environments
venv/
env/

# IDEs
.vscode/
.idea/

# Node.js
node_modules/
